<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.borrow.supermarket.dao.SafeDao">
	<sql id="baseSql">
		id,
		identifier,
		safeName,
		safePicUrl,
		safeUrl,
		safeSpecial,
		status,
		createDate,
		updateDate,
		totalApply
	</sql>
	
	<select id="getInfo" parameterType="SafeModel" resultType="SafeModel">
		select
		<include refid="baseSql" />
		from supermarket.safe where identifier = #{identifier}
	</select>
	
	<select id="getByPage" parameterType="Map" resultType="SafeModel">
		select
		<include refid="baseSql" />
		from supermarket.safe
		<where>
			1 = 1
			<if test="t.safeName != null and t.safeName != '' ">
				and safeName = #{t.safeName}
			</if>
		</where>
	</select>

	<insert id="save" parameterType="SafeModel">
		insert into supermarket.safe
		(
		identifier,
		safeName,
		safePicUrl,
		safeUrl,
		safeSpecial,
		status,
		createDate,
		updateDate
		) values(
		#{identifier},
		#{safeName},
		#{safePicUrl},
		#{safeUrl},
		#{safeSpecial},
		1,
		NOW(),
		NOW()
		)
	</insert>

	<update id="update" parameterType="SafeModel">
		update supermarket.safe
		set
		safeName = #{safeName},
		safePicUrl = #{safePicUrl},
		safeUrl = #{safeUrl},
		safeSpecial = #{safeSpecial},
		updateDate = NOW()
		where identifier = #{identifier}
	</update>


	<update id="updateSafeStatus" parameterType="SafeModel">
		update supermarket.safe set status = #{status} where identifier =
		#{identifier}
	</update>


	<select id="getSafeByPage" parameterType="Map" resultType="SafePageResultDTO">
		select
		<include refid="baseSql" />
		from supermarket.safe where status = 2 order by totalApply desc
	</select>
</mapper>
